body {
    font-family: 'Helvetica', 'Sans-Serif';
    background-repeat:no-repeat;
}

.container {
    min-width:300px;
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
}

h1 {
    text-align:center;
    text-transform: uppercase;
}

.calculator {
    text-align:center;
}

.number-input {
    border-radius: 6px 0 0 6px;
    height: 45px;
    width: 200px;
    border: 2px solid #3b3b3b;
    background-color: #3b3b3b;
    color: #fff;
    font-size: 18px;
}

.submit-btn {
    padding: 15px 20px;
    border:2px;
    border-radius: 0 6px 6px 0;
    border-color: #e6996b;
    color: #fff!important;
    background-color: #e6996b;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
}
